@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #f4f4f4;
}

.disable-scrolling {
  overflow: hidden;
}

a {
  all: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

div,
button {
  -webkit-tap-highlight-color: transparent;
}

button {
  font-size: 0.85em;
  font-weight: 500;
  font-family: "Montserrat", Arial;
  padding: 1em 1.7em;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button:active {
  transform: scale(0.95);
}

div,
button {
  -webkit-tap-highlight-color: transparent;
}

nav {
  display: flex;
  font-size: 0.85em;
  padding: 0.4175em 0.835em;
}

nav .edit-profile-btn {
  display: grid;
  place-items: center;
  font-size: 1em;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

nav .time {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.time p {
  align-self: flex-end;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  gap: 20px;
}

.container {
  width: 100%;
  max-width: 768px;
  font-size: 0.85em;
  padding: 10px 10px 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  transition: 0.35s;
  position: relative;
}

.container h3 {
  text-align: center;
  margin-bottom: 10px;
}

.form-task {
  max-height: 70px;
  margin-bottom: -20px;
  background-color: transparent;
  box-shadow: none;
}

.expand {
  max-height: auto;
  margin-bottom: 0;
  padding: 10px 10px 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-task h3 {
  opacity: 0;
  transition: 0.35s;
  margin-bottom: 20px;
}

.add-task-btn,
.hide-task-btn {
  width: max-content;
  background-color: #00aa5b;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.add-task-btn:hover {
  background-color: #098a4e;
}

.hide-task-btn {
  display: none;
  background-color: orangered;
  /* color: black; */
}

.hide-task-btn:hover {
  background-color: #f51000;
}

.new-task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 25px;
}

.new-task-form textarea {
  resize: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-height: 63px;
  background-color: #f4f4f4;
}

.new-task-form textarea::placeholder {
  font-family: Arial, sans-serif;
}

.new-task-form .priority-n-deadline {
  display: grid;
  gap: 10px;
}

.priority-level,
.input-deadline {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.new-task-form select,
.new-task-form input {
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  flex: 1;
  box-sizing: border-box;
  cursor: pointer;
}

.new-task-form textarea:hover,
.new-task-form select:hover,
.new-task-form input:hover {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.new-task-form textarea:focus,
.new-task-form select:focus,
.new-task-form input:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 4px 1.3px rgba(0, 123, 255, 0.562);
}

button.submit-task-btn {
  width: max-content;
  align-self: flex-end;
  margin-right: 25px;
  background-color: #007bff;
}

button.submit-task-btn:hover {
  background-color: #0063cd;
}

.container-tasks {
  display: grid;
  gap: 10px;
}

.task {
  padding: 0 3px 3px;
  border-radius: 5px;
}

.task:hover {
  background-color: #f4f4f4;
}

.task p {
  font-size: 0.85294em;
}

.task-title {
  display: flex;
  align-items: center;
  gap: 3px;
}

.task-title .checkbox-btn {
  cursor: pointer;
  font-size: 1.3em;
}

.task-title span {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}

.task-title span #deleteTask {
  font-size: 1.5em;
  transition: 0.2s;
  cursor: pointer;
}

.task-title span #deleteTask:hover {
  transform: scale(1.2);
}

.task-info {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.buttons {
  padding: 10px;
  flex-direction: row;
}

.buttons button:first-child {
  border: 1px solid #f44336;
  color: #f44336;
  background-color: transparent;
  width: 90%;
}

.buttons button:last-child {
  background-color: #f44336;
}

.buttons button:first-child:hover,
.confirm-action button:last-child:hover {
  color: black;
}

.buttons button:last-child:hover {
  background-color: #d30e00;
}

.buttons button:first-child:active,
.confirm-action button:last-child:active {
  border-color: transparent;
  color: white;
  background-color: #f44336;
  transform: scale(1);
}

footer {
  display: grid;
  gap: 15px;
  text-align: center;
  padding: 15px;
  font-size: 0.85em;
}

footer h3 {
  font-weight: 500;
}

/* POPUP */
div.popup {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.popup .edit-profile,
.popup .confirm-action {
  font-size: 0.85em;
  padding: 20px 17px 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  animation: popup 0.35s ease-out;
  position: relative;
}

.input-wrapper {
  display: grid;
  align-items: center;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }

  & input {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 7px;
    outline: none;
    background-color: transparent;
    color: black;
    padding: 1rem;
    z-index: 0;
    transition: border-color 0.35s;

    &:focus {
      border-color: #007bff;
    }

    &:focus ~ span,
    &:not(:placeholder-shown) ~ span {
      transform: translateY(-1.7rem) scale(0.9);
      padding: 0 0.25rem;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  & span {
    width: max-content;
    background-color: white;
    margin-left: 1rem;
    color: black;
    transition: transform 0.35s;
  }
}

.popup .edit-profile button {
  background-color: #007bff;
}

.popup .edit-profile button:hover,
.confirm-action button:first-child:hover {
  background-color: #0063cd;
}

.error-message {
  text-align: center;
  color: red;
}

.form-task .error-message {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
}

.hidden {
  display: none !important;
}

.popup .confirm-action {
  position: absolute;
  top: 10px;
  margin: 0 15px;
  animation: fall 0.25s ease-out;
  max-width: 300px;
  padding: 15px;
  gap: 15px;
}

.confirm-action .button-wraper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.confirm-action button:first-child {
  background-color: #007bff;
  width: 45%;
}

.confirm-action button:last-child {
  border: 1px solid #f44336;
  color: #f44336;
  background-color: transparent;
  width: 45%;
}

/* Animation */
@keyframes popup {
  0% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fall {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Responsive */
@media only screen and (min-width: 576px) {
  button {
    font-size: 0.875em;
  }

  nav,
  footer {
    font-size: 0.875em;
  }

  section {
    margin-top: 17.5px;
    gap: 22.5px;
  }

  .container {
    font-size: 0.875em;
    padding: 15px 12.5px;
  }

  .container h3 {
    margin-bottom: 12.5px;
  }

  .add-task-btn {
    gap: 0.55em;
  }

  .new-task-form {
    flex-direction: row;
    gap: 9px;
    padding: 0;
  }

  .new-task-form textarea {
    height: 70px;
    width: 60%;
  }

  .new-task-form .priority-n-deadline {
    width: 40%;
    display: grid;
    gap: 5px;
  }

  .priority-level,
  .input-deadline {
    gap: 5px;
    width: 100%;
  }

  .new-task-form select,
  .new-task-form input {
    width: 100%;
  }

  .new-task-form label {
    width: 84.5px;
    font-size: 0.875em;
  }

  button.submit-task-btn {
    margin-right: 0;
  }

  .task p {
    font-size: 0.875em;
  }

  .task-title span {
    gap: 7.5px;
  }

  .task-info {
    padding-left: 17px;
  }

  .popup .edit-profile,
  .popup .confirm-action {
    font-size: 0.875em;
  }
}

@media only screen and (min-width: 768px) {
  button {
    font-size: 0.90625em;
  }

  nav,
  footer {
    font-size: 1em;
  }

  section {
    margin-top: 20px;
    gap: 25px;
  }

  .container {
    font-size: 1em;
    padding: 20px;
  }

  .container h3 {
    margin-bottom: 15px;
  }

  .form-task {
    margin-bottom: 0;
  }

  .add-task-btn {
    gap: 0.7em;
  }

  .new-task-form {
    gap: 10px;
    padding: 0;
  }

  .new-task-form textarea {
    width: 55%;
  }

  .new-task-form .priority-n-deadline {
    width: 45%;
  }

  .priority-level,
  .input-deadline {
    gap: 6px;
  }

  .new-task-form label {
    width: 97px;
  }

  .task p {
    font-size: 0.890625em;
  }

  .task-title span {
    gap: 8px;
  }

  .task-info {
    padding-left: 20px;
  }

  .popup .edit-profile,
  .popup .confirm-action {
    font-size: 1em;
  }
}
